version: "3.8"

services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    restart: unless-stopped
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
      LOG_LEVEL: debug
    ports:
      - "16686:16686"
      - "6831:6831/udp"
      - "4317:4317"
      - "4318:4318"

  prometheus:
    image: prom/prometheus:v2.49.1
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  app:
    build: ./environment
    container_name: myapp
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - jaeger
      - prometheus
