services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    restart: unless-stopped
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
      LOG_LEVEL: debug
    ports:
      - "16686:16686"
      - "6831:6831/udp"
      - "4317:4317"
      - "4318:4318"
    networks:
      - observability

  prometheus:
    image: prom/prometheus:v2.49.1
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - observability

  app:
    build: 
      context: .
      dockerfile: environment/Dockerfile
    container_name: app
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - jaeger
      - prometheus
    networks:
      - observability

networks:
  observability:
    driver: bridge
