name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.14.2"

      - name: Install dependencies
        run: |
          uv pip install --extra dev -- --locked

      - name: Lint
        run: |
          uv run black --check .
          uv run flake8 .

      - name: Tests
        run: |
          uv run pytest
